.cv-skills .row {
  margin-top: 7px;
}

.cv-skills .category {
  display: inline-block;
  width: 220px;
}

.cv-skills .values .value {
  font-weight: 400;
}

.cv-skills .values .value:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
}
