.cv-own-projects .project {
  display: flex;
}

.cv-own-projects .project ~ .project {
  margin-top: 20px;
}

.cv-own-projects .project .details {
  flex: 0 0 220px;
}

.cv-own-projects .project .details .name {
  font-weight: 400;
}

.cv-own-projects .project .details a {
  font-size: 9pt;
}

.cv-own-projects .project .description {
  line-height: 13pt;
}