.cv-own-projects .project {
  display: flex;
}

.cv-own-projects .project ~ .project {
  margin-top: 20px;
}

.cv-own-projects .project .details {
  flex: 0 0 180px;
}

.cv-own-projects .project .description {
  line-height: 13pt;
}