.company-details {
  display: flex;
}

.company-details ~ .company-details {
  margin-top: 0.5cm;
}

.company-details .main-details {
  width: 320px;
}

.company-details .main-details .company-name {
  font-style: normal;
}

.company-details .main-details .period {
  margin-top: 2px;
  color: #999;
  font-size: 8pt;
}

.company-details .main-details a {
  font-size: 8pt;
}

.company-details .main-details .position {
  font-weight: 400;
}

.company-details .projects {
  flex: 1;
}

.company-details .projects .project .header {
  display: flex;
  justify-content: space-between;
}

.company-details .projects .project ~ .project {
  margin-top: 0.3cm;
}

.company-details .projects .project .technologies {
  margin-top: 2px;
  color: #999;
  font-size: 8pt;
}
