.cv-header {
  text-align: center;
}

.cv-header .full-name {
  font-weight: 300;
  font-size: 32pt;
  margin: 0;
}

.cv-header .title {
  font-weight: 300;
  font-size: 16pt;
  margin-top: 0.3cm;
  margin-bottom: 1.5cm;
}
